<!DOCTYPE html>
<html>

<head>
  <title>PitchforkLite</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <header>
    <h1>
      <%= link_to "Pitchfork Lite", root_path %>
    </h1>
    <nav>
      <%= link_to 'Add Genre', new_category_path %>
      <a href="/">About</a>
      <a href="/">Blog</a>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
</body>

</html>